DirectoryIndex plomwiki.php?title=Start

<Files *>
Deny from all
</Files>

<Files plomwiki.php>
Allow from all
</Files>

<FilesMatch "^$">    # Empower DirectoryIndex by allowing access to merely root.
Allow from all
</FilesMatch>
