# .htaccess file, ensures only plomwiki.php is directly accessible.
# 
# Copyright 2010-2012 Christian Heller / <http://www.plomlompom.de/>
# License: AGPLv3 or any later version. See file LICENSE for details.

DirectoryIndex plomwiki.php?title=Start

<Files *>
Deny from all
</Files>

<Files plomwiki.php>
Allow from all
</Files>

<FilesMatch "^$">    # Empower DirectoryIndex: restrict access to root.
Allow from all
</FilesMatch>
